// *******************************************
// *******************************************

// Style Guide typography styles

// *******************************************
// *******************************************

// headers

.pl-h1 {
  margin: 0 0 em(25px) 0;
  font-weight: bold;
  font-size: em(42px);
  line-height: 1.125em;
  color: $gray--400;
  text-shadow: 1px 1px 1px rgba($white, .5);
}

.pl-h2 {
  margin: 0 0 em(25px);
  font-weight: bold;
  font-size: em(24px);
  color: $gray--600;
  text-shadow: 1px 1px 1px rgba($white, .5);
}

.pl-hr {
  margin: em(30px) 0;
  border: 0;
  border-bottom: 1px solid $gray--200;
}
