@font-face
  font-family: 'Roboto'
  src: url('../Assets/fonts/Roboto-Regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Roboto-Bold'
  src: url('../Assets/fonts/Roboto-Bold-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Roboto-Italic'
  src: url('../Assets/fonts/Roboto-Italic-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

$roboto = 'Roboto', 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;
$roboto--bold = 'Roboto-Bold', 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;
$roboto--itaic = 'Roboto-Italic', 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;
